:root {
  --color-green: green; /*#3FA63C; /*#2CA60A*/ /*#6AB870;*/ 
  --color-light: #F2EDE4;
  --color-dark: black;
  --color-accent: #022601;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-green);
  font-family: "Courier New", monospace;

}
body {
  display: flex;
  flex-direction:column;
  background-color: var(--color-dark);
  background-image: url("background_img.png");
  background-repeat: no-repeat;
  background-size: 100%;
} 

body > section {
  flex-basis: 50%;
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template: 8% 1fr 1fr 10% / 25% 1fr 20%;
  gap: 1%;
  padding: 1%;
  box-sizing: border-box;
}

.container div {
  padding: 1em;
  border: 1px solid var(--color-accent); /*layout pomocne čiary*/
  margin-bottom: 2vh;

}

.header {
  font-style: italic;
  grid-column: 1 / span 3;
  font-family: monospace;
  text-align: center;
  color: var(--color-green);
  text-shadow: 0em 0em 4em #08FC20;

}

.content-large {
  grid-row: 2 / span 2;
}

.content-small{
  display: grid;
}

.footer {
  grid-column: 1 / span 3;
  column-count: 3;
  text-align: center;

}

form{
  display: grid;
  grid-row: 2 / span 2;
  width: 100%;
  height: 100%; 
  box-sizing: border-box;
}

textarea{
  background-color: var(--color-dark);
  /*opacity: 0.8;*/
  height: 67vh;
  /*width: 100%;
  height: 100%; */
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid var(--color-green);


}

button {
  background-color: transparent;/*#003C00*/
  opacity: 0.8;
  border: 1px solid;


  color: var(--color-green);
  font-weight: bold;
  text-align: left;

  /*padding: 0.5em;*/
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  max-height: 2.5em;
  /*margin: 0.5em;*/

  cursor: pointer;
}

button:hover {
  background-color: #003C00;
  opacity: 1.0;
  box-shadow: 0 0 6em var(--color-accent);

  text-shadow: 0 0 3em white; /*#08FC20;*/
}

/*render*/
img {
  width: 100%;
  height: 100%;
  border: 1px solid; 
  box-shadow: 0 0 10em #042B02;
}
